# Exclude generated Flutter folders from GitHub language statistics
android/** linguist-generated=true
ios/** linguist-generated=true
linux/** linguist-generated=true
macos/** linguist-generated=true
windows/** linguist-generated=true
web/** linguist-generated=true
build/** linguist-generated=true
*.g.dart linguist-generated=true
*.freezed.dart linguist-generated=true
